h1 {
  color: darkblue;
  background-color: aquamarine;

}
body {
  background-color: black;

}
#dispalytotal {
  outline: none;
  border: 3px solid rgb(40, 40, 121);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  width: 150px;

}
#labbbb{
font-size: 2rem;
font-weight: bold;
width: 300px;
}
